

/* jumbotron */
.jumbotron{
    background: url("../img/jumbotron.jpg") top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

/* produk */
.kue-header{
    margin-top: 100px;
}
.kue-header h3{
    color: rgb(81, 81, 81);
}
.img-product img{
    width: 500px;
    max-height: 250px;
}